/* GENERIC STYLING */

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    display: flex;
    flex-flow: column nowrap;
    font-family: Verdana, sans-serif;
    min-height: 100vh;
}

/* Remove Link Underline */
a {
    text-decoration: none;
}

/* NAVIGATION STYLING */

header {
    font-size: 1.2rem;
    display: flex;
    flex-flow: row nowrap;
    align-items: center;
    padding: 1rem;
    max-height: 2.5rem;
    z-index: 98;
    width: 100%;
    background-color: #3C5E31;
    justify-content: space-between;
    box-shadow: 0 0.25rem 0.25rem black;
}

header a {
    color: white;
}

/* DROPDOWN STYLING */

.dropdown {
    display: none;
    flex-flow: column nowrap;
    line-height: 1.5rem;
    text-align: center;
    position: fixed;
    top: 2.5rem;
    right: 0;
    padding: 0.75rem;
    width: 10rem;
    list-style-type: none;
    z-index: 99;
    background-color: #3C5E31;
    box-shadow: 0 0.25rem 0.25rem black;

    /* Animation */
    animation-name: dropdown-animate;
    animation-timing-function: ease-in-out;
    animation-duration: 0.2s;
}

.dropdown-activator {
    padding: 5px;
}

.dropdown-activator a {
    width: 100%;
    height: 100%;
}

.dropdown-activator:focus-within .dropdown {
    display: flex;
}

/* Underline for active link */
.nav-active {
    text-decoration: underline;
}

/* MAIN AREA STYLING */

main {
    flex-flow: column nowrap;
    background-color: black;
    flex: 1 0 auto;
}

/* FOOTER STYLING */

footer {
    display: flex;
    padding: 0.6rem;
    align-items: center;
    justify-content: space-around;
    background-color: #3C5E31;
}

footer i {
    color: white;
}

/* Dropdown Animation */
@keyframes dropdown-animate {
    0% {width: 0rem;}
    25% {width: 2.5rem;}
    50% {width: 5rem;}
    75% {width: 7.5rem;}
    100% {width: 10rem;}
}

/* HERO AREA STYLING */

#hero {
    display: flex;
    flex-flow: column nowrap;
    width: 100%;
    background-color: #3BDE04;
}

#hero-info {
    order: 2;
}

#hero-image {
    width: 100%;
}

#hero-image > img {
    width: 100%;
    height: 100%;
}

/* MEDIA QUERIES STARTING FROM 48 REM (768PX WITH STANDARD FONT-SIZE) */

@media (width >= 48rem) {

    .dropdown {
        display: flex;
        justify-content: right;
        flex-flow: row nowrap;
        width: 60%;
        animation: none;
        top: 0;
        background-color: rgba(0, 0, 0, 0);
        box-shadow: none;
    }

    .dropdown-item {
        max-width: 9rem;
    }

    .dropdown-activator > a {
        display: none;
    }

    .dropdown a:hover {
        text-decoration: underline;
    }

    .nav-button {
        display: flex;
        justify-content: center;
        flex-shrink: 0;
        background-color: #89307C;
        border-radius: 20px;
    }

    .nav-button:hover {
        background-color: white;
        color: #89307C;
    }

}