/* GENERIC STYLING */

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Verdana, sans-serif;
}

body {
    display: flex;
    flex-flow: column nowrap;
    min-height: 100vh;
}

/* Remove Link Underline */

a {
    text-decoration: none;
}

/* Generic headline styling */

h1, h2, h3 {
    text-transform: uppercase;
}

/* HEADER STYLING */

header {
    font-size: 1.2rem;
    display: flex;
    flex-flow: row nowrap;
    align-items: center;
    padding: 1.5rem;
    height: 2.5rem;
    z-index: 98;
    width: 100%;
    background-color: #3C5E31;
    justify-content: space-between;
    box-shadow: 0 0.25rem 0.25rem black;
}

header a {
    color: white;
}

/* Dropdown menu Icon */

header i {
    color: white;
    font-size: 1.5rem;
}

/* NAVIGATION STYLING */

/* Desktop navigation */

#desktop-nav {
    display: none;
    width: clamp(20rem, 30rem, 40rem);
    justify-content: space-between;
    align-items: center;
}

.nav-adventure {
    background-color: #89307C;
    padding: 0.3rem 1.5rem;
    border-radius: 20px;
}

.nav-adventure:hover {
    background-color: white;
    color: #89307C;
}

.nav-link:hover {
    color: #3bde049c;
}

.active-link {
    text-decoration: underline;
}

/* Mobile navigation */

#mobile-nav {
    display: none;
    flex-flow: column nowrap;
    line-height: 1.5rem;
    font-size: 1.2rem;
    line-height: 1.8rem;
    width: 100vw;
    justify-content: center;
    align-items: center;
    background-color: #3C5E31;
    padding: 1rem;

}

#mobile-nav a {
    color: white;
}

#mobile-nav a:hover {
    color: #3bde049c;
}

/* Display mobile navigation menu */

#mobile-nav.nav-active {
    display: flex;
}

/* MAIN AREA STYLING */

main {
    display: flex;
    flex-flow: column nowrap;
    background-color: #5b8f49;
    height: 100%;
    flex: 1 0 100%;
}

/* HERO AREA STYLING */

#hero {
    display: flex;
    text-align: center;
    flex-flow: column nowrap;
    width: 100%;
    color: white;
    background-color: #5b8f49;
}

#hero-info {
    display: flex;
    padding: 1rem;
    width: 100%;
    justify-content: center;
    flex-flow: column nowrap;
    order: 2;
}

#hero-info > a {
    align-self: center;
    background-color: #89307C;
    padding: 0.3rem 1.5rem;
    border-radius: 20px;
    color: white;
    max-width: 20rem;
}

#hero-info > a:hover {
    background-color: white;
    color: #89307C;
}

#hero-image {
    background: url(../images/hero-image.webp) no-repeat center center/cover;
    height: clamp(40vh, 50vh, 60vh);
    width: 100%;
}

/* BENEFITS STYLING */

#benefits {
    color: white;
    text-align: center;
    width: 100%;
    background-color: #3C5E31;
}

#benefits > h2 {
    padding-top: 1.5rem;
}

#benefits-container {
    display: flex;
    width: 100%;
    flex-flow: row wrap;
}

.benefits-item {
    flex: 1 0 12rem;
    justify-content: center;
    padding: 1rem;
}

.benefits-item > h3 {
    line-height: 2rem;
    margin-bottom: 1rem;
}

/* INFORMATION STYLNIG */

.information {
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
    align-items: center;
    width: 100%;
    color: white;
    padding: 1rem;
    background-color: #5b8f49;
}

#info2 {
    flex-flow: row wrap;
}

.information-container {
    display: flex;
    flex-flow: column nowrap;
    justify-content: center;
    text-align: center;
    align-items: center;
    padding: 1rem;
    max-width: 40rem;
    width: 100%;
}

.information-container h2 {
    margin-bottom: 1rem;
}

.information-image-container {
    display: flex;
    padding-left: 5rem;
    width: 90vw;
    height: 90vw;
    border-radius: 50%;
    max-width: 22rem;
    max-height: 22rem;
    justify-content: center;
    
}

#pic1 {
    background: url(../images/geocaching-information-img.webp) no-repeat center center/cover;
}

#pic2 {
    background: url(../images/too-old.webp) no-repeat center center/cover;
}

#pic3 {
    background: url(../images/what-you-need.webp) no-repeat center center/cover;
}

#information-container {
    display: flex;
    flex-flow: column nowrap;
    padding: 1rem;
    flex: 1 0 25rem;
    max-width: 55rem;
    text-align: center;
    width: clamp(80vw, 90vw, 100vw);
}

#information-container h2 {
    margin: 1rem 0 0.5rem 0;
}

/* *** ADVENTURES *** */

#wrapper {
    display: flex;
    align-items: center;
    flex-flow: column nowrap;
}

/* Adventure Hero */

#adventure-hero {
    display: flex;
    width: 100%;
    text-align: center;
    color: white;
    background: url(../images/jungle.webp) no-repeat center center/cover;
    height: 10vh;
    justify-content: center;
    align-items: center;
}

#adventure-hero h1 {
    text-shadow: 0.5rem 0.5rem 1rem limegreen;
}

#adventure-hero-info {
    padding: 1.5rem;
    font-size: 1.2rem;
    max-width: 60rem;
    text-align: center;
    color: white;
}

/* Styling of individuals adventures */

.adventure {
    flex-flow: column wrap;
    margin: 1rem;
    flex: 1 0 50%;
    max-width: 70rem;
    background-color: #3C5E31;
}

.adventure h2 {
    color:white;
    padding: 0.5rem;
    text-align: center;
}

/* Styling of dropdown buttons */

.adventure-dropdown-buttons {
    width: 100%;
    background-color: #5b8f49;
    padding: 0.5rem;
    font-size: 1.1rem;
    text-align: center;
    margin-bottom: 0.5rem;
    font-weight: bold;
    color: white;
}

/* Paddng of image and content area */

.adventure-content {
    padding: 1rem;
    width: 100%;
}

/* Visuals of dropdown content */

.adventure-dropdown {
    display: none;
    justify-content: center;
    color: white;
    flex-flow: column wrap;
    padding: 1rem;
    background-color: #5b8f49;
    margin-bottom: 0.5rem;
    width: 100%;
}

.geo-header-image {
    width: 100%;
    height: auto;
}

.adventure-image-container {
    display: flex;
    flex-flow: row wrap;
    width: 100%;
    justify-content: center;
}

.adventure-content-container {
    padding: 1rem;
}

.geo-image {
    width: 100%;
    height: auto;
    margin: 0.2rem;
    max-width: 15rem;
}

/* Styling for shown dropdown items */

.adventure-dropdown-shown {
    display: flex;
}

/* CONTACT STYLING */

/* Contact main area */

#contact-main {
    justify-content: center;
}

/* Information section styling */

#contact-wrapper {
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
    align-items: center;
    color: white;
    padding: 1rem;
    height: 100%;
    margin: 1rem 0;
    gap: 1rem;
    background-color: #3C5E31;
}

#contact-information {
    display: flex;
    max-width: 30rem;
    padding: 1rem;
    flex-flow: column nowrap;
    align-items: center;
    text-align: center;
}

#contact-information > img {
    width: 100%;
    height: auto;
    max-width: 18.75rem;
    max-height: 18.75rem;
    border-radius: 50%;
}

#contact-information > h1 {
    margin: 2rem 0;
}

/* Form styling */

#form-wrapper {
    display: flex;
    flex-flow: column nowrap;
    text-align: center;
    max-width: 25rem;
    padding: 1rem;
}

#contact-form {
    display: flex;
    flex-flow: column nowrap;
    align-items: center;
    width: 100%;
}

#contact-form input {
    width: 100%;
    height: 2rem;
    padding: 0.5rem;
}

#contact-form label {
    font-size: 1.2rem;
    margin-bottom: 0.5rem;
}

#contact-form textarea {
    width: 100%;
    padding: 0.5rem;
}

#contact-form h2 {
    margin-bottom: 1rem;
}

#contact-form input[type="submit"] {
    max-width: 10rem;
    font-size: 1.2rem;
    background-color: #89307C;
    color: white;
    padding: 0;
}

#contact-form input[type="submit"]:hover {
    background-color: white;
    color: #89307C;
}

/* ABOUT STYLING */

#about-main {
    display: flex;
    flex-flow: column nowrap;
    color: white;
    width: 100%;
    text-align: center;
}

#about-information {
    display: flex;
    flex-flow: column nowrap;
    padding: 2rem;
    gap: 2rem;
    color: white;
    text-align: center;
    align-items: center;
    width: 100%;
    justify-content: center;
}

#about-information img {
    width: 100%;
    max-width: 18.75rem;
    max-height: 18.75rem;
    border-radius: 50%;
}

#about-text {
    flex-flow: column nowrap;
    text-align: center;
    align-items: center;
    padding: 1rem;
    justify-content: center;
    max-width: 30rem;
}

#about-text p {
    margin-top: 1rem;
}

#statistics {
    display: flex;
    justify-content: center;
    padding-top: 2rem;
    flex-flow: row wrap;
    gap: 2rem;
    margin-bottom: 3rem;
}


.statistics-item {
    display: flex;
    flex-flow: column wrap;
    width: 100%;
    background-color: #3C5E31;
    gap: 1rem;
    padding: 1rem;
    max-width: 15rem;
    font-size: 2rem;
}

.statistics-item i {
    font-size: 3rem;
}

.statistics-item h3 {
    font-size: 1.8rem;
}

#fun-facts {
    display: flex;
    flex-flow: column wrap;
    width: 100%;
    background-color: #3C5E31;
    margin-bottom: 2rem;
    padding: 2rem;
}

#fact-container {
    display: flex;
    justify-content: center;
    flex-flow: row wrap;
    margin: 0.5rem;
}

#fact-container h3 {
    margin-bottom: 1rem;
}

.fact-item {
    flex: 1 0 12rem;
    max-width: 25rem;
    padding: 1rem;
}

/* 404 PAGE STYLING */

#not-found-main {
    display: flex;
    flex-flow: column nowrap;
    align-items: center;
}

#not-found-spacing {
    height: 13rem;
    width: 100%;
}

#not-found-content {
    display: flex;
    flex-flow: column nowrap;
    flex: 1 1 25rem;
    max-width: 70rem;
    position: relative;
    padding: 2rem;
    align-items: center;
    text-align: center;
    font-size: 1.5rem;
    width: 100%;
    background-color: #3C5E31;
    color: white;
    margin-bottom: 2rem;
}

#not-found-content h1 {
    margin: 3rem 0;
}

#not-found-image {
    position: absolute;
    max-width: 15rem;
    max-height: 15rem;
    top: -9.65rem;
}

#dog-photo {
    margin: 2rem 0;
    width: 80%;
    height: auto;
    max-width: 25rem;
}

/* FOOTER STYLING */

footer {
    display: flex;
    padding: 0.6rem;
    align-items: center;
    justify-content: space-around;
    background-color: #3C5E31;
}

footer i {
    color: white;
}

/* MEDIA QUERIES STARTING FROM 48 REM (768PX WITH STANDARD FONT-SIZE) */

@media (width >= 48rem) {

    /* Navigation adjustment */

    #desktop-nav {
        display: flex;
    }

    #mobile-nav {
        display: none;
    }

    #dropdown-icon {
        display: none;
    }

    /* Hero adjustment */

    #hero {
        flex-flow: row nowrap;
        font-size: clamp(0.5rem, 1rem, 3rem);
    }

    #hero-image {
        order: 2;
        max-height: 40rem;
    }

    #hero-info {
        order: 0;
        width: 40vw;
    }

    #hero-image {
        height: clamp(60vh, 70vh, 80vh);
    }

    /* Information adjustment */

    #information-container {
        padding: 2rem;
    }

    #info2 {
        flex-flow: row-reverse wrap;
    }

    /* About adjustment */

    #about-information {
        flex-flow: row nowrap;
    }

    #statistics {
        flex-flow: row nowrap;
        justify-content: center;
    }

    .statistics-item {
        max-width: 15rem;
    }

    /* Adventure adjustment */

    .adventure-dropdown {
        flex-flow: row wrap;
    }

    .adventure-image-container {
        max-width: 55%;
        flex: 1 0 calc(50% - 10px);
    }

    .adventure-content-container {
        display: flex;
        max-width: 45%;
        align-items: center;
    }

    /* Mozilla Firefox adjustment */

    /* Mozilla hero information adjustment */

    @-moz-document url-prefix() {
        #hero-info h1 {
            margin-bottom: 1rem;
        }

        #hero-info a {
            margin-top: 1rem;
        }
    }

}